<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chit Chat</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="../css/signup.css">
</head>

<body>
    <header>
        <h3>CHIT CHAT</h3>
    </header>

    <main>
        <section id="signup">
            <h3>SIGN UP</h3>
            <form action="">
                <input type="text" name="username" id="user-name" placeholder="User Name" required>
                <input type="email" name="email" id="email" placeholder="Email" required>
                <input type="number" name="phonenumber" id="phone-number" placeholder="Phone Number" required>
                <input type="password" name="password" id="password" placeholder="Password">
                <button type="submit">Sign Up</button>
            </form>
            <p>Already a user? <a href="./login.html">login</a></p>
        </section>
    </main>

    <script src="../scripts/signup.js"></script>
</body>

</html>